<header>
  <div class="brand" (click)="goToHome()">
    <img src="assets/logo.png" width="64px" height="64px" />
    <span>Premium SaaS</span>
  </div>
  <div *ngIf="user()" class="user">
    <img [matMenuTriggerFor]="menu" src="https://picsum.photos/200/300"/>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<mat-spinner *ngIf="isLoading()"></mat-spinner>